#oldPassword {
    background-color: white;
    font-family:'IBM Plex Mono', monospace !important;

}

#newPassword {
background-color: white;
 font-family:'IBM Plex Mono', monospace !important;

}

#change-password {
     font-family:'IBM Plex Mono', monospace !important;
     border: solid aqua 2px;

}