
#flashcard-form {
    font-family:'IBM Plex Mono', monospace !important;
    background-color: white !important;

}

#create-flashcard {
    color:aqua !important;
    font-family:'IBM Plex Mono', monospace !important;
    border: white 10px solid !important;
    background: white !important;
}



#container2 {
    border: 20px solid white !important;
    background-color: white !important;

}

div.container3 {
    border: 10px solid black !important;
    background-color:rgb(249, 251, 252) !important;
    font-family:'IBM Plex Mono', monospace !important;


}


#flashcard-form {
    color:rgb(119, 224, 231);
    font-family:'IBM Plex Mono', monospace !important;
    background-color: white !important;
}





.form-box {
    background-color: white !important;
    font-family:'IBM Plex Mono', monospace !important;
    background-color: white !important;
}

#title {
    font-family:'IBM Plex Mono', monospace !important;
}